@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.modalDiv {
    display: flex;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(91, 112, 131, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Bruno Ace SC', cursive;
    padding-top: 1%;
    background: #c0c0c0;
    border: 2px solid #2AAAE0;
    box-shadow: 0px 0px 30px 5px #2AAAE0;
}

.containerForm {
    color: #333333;
}

.registerForm {
    margin-left: 82%;
    font-family: 'Delicious Handrawn';
    font-size: 20px;
    color: beige;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background: #333333;
    padding: 5px 15px 10px 15px;
    text-decoration: none;
    cursor: pointer;
}

.registerForm:hover {
    transform: scale(1.1);
}

.containerFormValues {
    width: 420px;
    padding: 5px;
}

.errorForm {
    text-align: right;
    font-size: 9px;
    color: red;
}

.space {
    width: 9px;
}

.selectType {
    text-align: center;
    padding-bottom: 1%;
}

.containerRange {
    display: flex;
    align-items: center;
    justify-content: right;
}

.containerRange label{
    font-size: 17px;
    padding: 0 10px;
}

.dataRange {
    width: 35px;
}

.containerType {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    padding-left: 1%;
}

.buttonTypeActive {
    border: 2px solid #FFFFFF;
    opacity: 0.8; 
}

.inputForm {
    font-family: 'Bruno Ace SC', cursive;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #9b9b9b;
    background: transparent;
    font-size: 14px;
    color: #333333;
    padding: 7px 0;
}

.type-bug {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #356f2e;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #356f2e;
    cursor: pointer;  
}

.type-bug:hover {
    transform: scale(1.1);
}

.type-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #000000;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #000000;
    cursor: pointer;  
}

.type-dark:hover {
    transform: scale(1.1);
}

.type-dragon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #7d62ad;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #7d62ad;
    cursor: pointer;  
}

.type-dragon:hover {
    transform: scale(1.1);
}

.type-electric {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #f4a900;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #f4a900;
    cursor: pointer;  
}

.type-electric:hover {
    transform: scale(1.1);
}

.type-fairy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #ff40ff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #ff40ff; 
    cursor: pointer; 
}

.type-fairy:hover {
    transform: scale(1.1);
}

.type-fighting {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #800000;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #800000;
    cursor: pointer;  
}

.type-fighting:hover {
    transform: scale(1.1);
}

.type-fire {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #ed1c24;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #ed1c24;
    cursor: pointer;  
}

.type-fire:hover {
    transform: scale(1.1);
}

.type-flying {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #4040ff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #4040ff;
    cursor: pointer;  
}

.type-flying:hover {
    transform: scale(1.1);
}

.type-ghost {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #094293;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #094293;
    cursor: pointer;  
}

.type-ghost:hover {
    transform: scale(1.1);
}

.type-grass {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #008000;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #008000;
    cursor: pointer;  
}

.type-grass:hover {
    transform: scale(1.1);
}

.type-ground {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #e68d14;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #e68d14;
    cursor: pointer;  
}

.type-ground:hover {
    transform: scale(1.1);
}

.type-ice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #83c9e9;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #83c9e9;
    cursor: pointer;  
}

.type-ice:hover {
    transform: scale(1.1);
}

.type-normal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #a4a4a4;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #a4a4a4;
    cursor: pointer;  
}

.type-normal:hover {
    transform: scale(1.1);
}

.type-poison {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #7d2181;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #7d2181;
    cursor: pointer;  
}

.type-poison:hover {
    transform: scale(1.1);
}

.type-psychic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #e30052;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #e30052;
    cursor: pointer;  
}

.type-psychic:hover {
    transform: scale(1.1);
}

.type-rock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #927600;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #927600;
    cursor: pointer;  
}

.type-rock:hover {
    transform: scale(1.1);
}

.type-steel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #727272;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #727272;
    cursor: pointer;  
}

.type-steel:hover {
    transform: scale(1.1);
}

.type-water {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #002ecd;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #002ecd;
    cursor: pointer;  
}

.type-water:hover {
    transform: scale(1.1);
}

.type-unknown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #009c8c;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #009c8c;
    cursor: pointer;  
}

.type-unknown:hover {
    transform: scale(1.1);
}

.type-shadow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 5vw;
    margin: 6px;
    font-size: 16px;
    color: beige;
    background: #955f20;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #955f20;
    cursor: pointer;  
}

.type-shadow:hover {
    transform: scale(1.1);
}

.containerButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonForm {
    font-family: 'Bruno Ace SC', cursive;
    font-size: 18px;
    color: beige;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background: #333333;
    width: 45%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.buttonForm:hover {
    transform: scale(1.1);
}

.buttonFormInactive {
    font-family: 'Bruno Ace SC', cursive;
    font-size: 18px;
    border-radius: 10px;
    width: 45%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 3%;
    Border: 2px solid #999999;
    Background-color: dark grey;
    color: #999999;
    opacity: 0.5;
}
