@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');


.container {
    background-image: url("../../img/background.png");
    height: 100vh;
    width: 100vw;
}

.video {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    margin-left: 6%;
}

.registerForm {
    position: absolute;
    top: 25px;
    left: 80%;
    z-index: 100;
    font-family: 'Delicious Handrawn';
    font-size: 30px;
    color: #F2B90C;
    border: 2px solid #F2B90C;
    border-radius: 10px;
    background: #231a24;
    padding: 5px 15px 10px 15px;
    text-decoration: none;
    cursor: pointer;
}

.registerForm:hover {
    transform: scale(1.1);
}

.containerLogin {
    position: absolute;
    z-index: 10;
    top: 10vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.containerLogin img{
    height: 80px;
    width: auto;
}

.containerForm {
    font-family: 'Delicious Handrawn';
    font-size: 20px;
    text-align: center;
    color: #F2B90C;
    border: 2px solid #F2B90C;
    border-radius: 10px;
    background: #160008;
    opacity: 0.8;   

    width: 350px;
    margin: 40px auto;
    padding: 30px;
}

.buttonForm {
    font-family: 'Delicious Handrawn';
    font-size: 18px;
    color: #F2B90C;
    border: 2px solid #F2B90C;
    border-radius: 10px;
    background: #231a24;
    width: 45%;
    height: 40px;
    margin-top: 5%;
}

.buttonForm:hover {
    transform: scale(1.1);
}

.inputeyeForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 2% 0 3%;
    width: 100%;
}

.inputForm {
    font-family: 'Delicious Handrawn';
    font-size: 20px;
    text-align: center;
    width: 90%;
    height: 40px;

    border: 3px solid #F2B90C;
    border-radius: 10px;
    margin: 5% -12% 5% ;
}

.eyeForm {
    color: #BF820F;
    font-size: 20px;
}

.errorForm {
    font-size: 20px;
    margin-top: 0;
}

.descritionForm {
    font-family: 'Delicious Handrawn';
    text-align: center;
    color: #BF820F;
    font-size: 20px;
}

