@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.containerSearch {
    display: flex;
    height: 40vh;
    width: 100vw;
    background: #000;
}

.containerLeft {
    background: #e30000;
    height: 33vh;
    width: 1.8vw;
    text-align: center;
    margin-right: 0.2vw;
    border-radius: 0px 0px 0px 30px;
}

.containerRight {
    background: #e30000;
    height: 33vh;
    width: 1.8vw;
    margin-left: 0.2vw;
    border-radius: 0px 0px 30px 0px;
}

.containerCont {
    background: #a01a0a;
    height: 33vh;
    width: 96vw;
    text-align: center;
}

.containerScreenExt {
    height: 28.5vh;
    width: 98%;
    background: #333333;
    border-radius: 30px;
    margin-left: 1%;
    padding-top: 2%;
}

.containerScreenInt {
    display: flex;
    height: 90%;
    width: 95%;
    background: #333333;
    border-radius: 10px;
    margin-left: 2.5%;
}

.containerFilter {
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 25vh;
}

.blockSearch {
    display: flex;
    justify-content: space-around;
    height: 5vh;
    width: 99%;
    margin-bottom: 0.2vw;
}

.blockSearchComplete {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.blockSearchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 40px;
    width: 80px;
    font-size: 16px;
    color: beige;
    background: #1c1c1c;
    border-radius: 10px;
    cursor: pointer; 
}

.blockSearchButtonActive {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 40px;
    width: 80px;
    font-size: 16px;
    color: beige;
    background: #1c1c1c;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 15px 2px #1c1c1c;
    cursor: pointer; 
}

.blockSearch input{
    font-family: 'Bruno Ace SC', cursive;
    font-size: 20px;
    width: 500px;
    background: #c0c0c0;
    border-radius: 15px;
    text-align: center;
    color: #1c1c1c;
    border: none;
}


.glassSearch svg {
    background: #1c1c1c;
    fill: #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 10px;
    cursor: pointer;
}

.clean svg{
    background: #1c1c1c;
    fill: #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 10px;
    cursor: pointer;
}

.blockFilter {
    display: flex;
    height: 24vh;
    width: 99%;
}

.blockCol {
    height: 20vh;
    width: 17vw;
    margin-left: 0.2vw;
    background: #333333;
}

.selected {
    border: 1px solid #FFFFFF;
    transform: scale(1.1);
    opacity: 0.9;
}

.blockRow1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #356f2e;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #356f2e;
    cursor: pointer;  
}

.blockRow1:hover {
    transform: scale(1.1);
}

.blockRow2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #000000;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #000000;
    cursor: pointer;  
}

.blockRow2:hover {
    transform: scale(1.1);
}

.blockRow3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #7d62ad;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #7d62ad;
    cursor: pointer;  
}

.blockRow3:hover {
    transform: scale(1.1);
}

.blockRow4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #f4a900;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #f4a900;
    cursor: pointer;  
}

.blockRow4:hover {
    transform: scale(1.1);
}

.blockRow5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #ff40ff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #ff40ff; 
    cursor: pointer; 
}

.blockRow5:hover {
    transform: scale(1.1);
}

.blockRow6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #800000;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #800000;
    cursor: pointer;  
}

.blockRow6:hover {
    transform: scale(1.1);
}

.blockRow7 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #ed1c24;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #ed1c24;
    cursor: pointer;  
}

.blockRow7:hover {
    transform: scale(1.1);
}

.blockRow8 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #4040ff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #4040ff;
    cursor: pointer;  
}

.blockRow8:hover {
    transform: scale(1.1);
}

.blockRow9 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #094293;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #094293;
    cursor: pointer;  
}

.blockRow9:hover {
    transform: scale(1.1);
}

.blockRow10 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #008000;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #008000;
    cursor: pointer;  
}

.blockRow10:hover {
    transform: scale(1.1);
}

.blockRow11 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #e68d14;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #e68d14;
    cursor: pointer;  
}

.blockRow11:hover {
    transform: scale(1.1);
}

.blockRow12 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #83c9e9;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #83c9e9;
    cursor: pointer;  
}

.blockRow12:hover {
    transform: scale(1.1);
}

.blockRow13 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #a4a4a4;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #a4a4a4;
    cursor: pointer;  
}

.blockRow13:hover {
    transform: scale(1.1);
}

.blockRow14 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #7d2181;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #7d2181;
    cursor: pointer;  
}

.blockRow14:hover {
    transform: scale(1.1);
}

.blockRow15 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #e30052;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #e30052;
    cursor: pointer;  
}

.blockRow15:hover {
    transform: scale(1.1);
}

.blockRow16 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #927600;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #927600;
    cursor: pointer;  
}

.blockRow16:hover {
    transform: scale(1.1);
}

.blockRow17 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #727272;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #727272;
    cursor: pointer;  
}

.blockRow17:hover {
    transform: scale(1.1);
}

.blockRow18 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #002ecd;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #002ecd;
    cursor: pointer;  
}

.blockRow18:hover {
    transform: scale(1.1);
}

.blockRow19 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #009c8c;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #009c8c;
    cursor: pointer;  
}

.blockRow19:hover {
    transform: scale(1.1);
}

.blockRow20 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
    height: 3.5vh;
    width: 9vw;
    margin-bottom: 1.5vh;
    font-size: 22px;
    color: beige;
    margin-top: 1vh;
    background: #955f20;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #955f20;
    cursor: pointer;  
}

.blockRow20:hover {
    transform: scale(1.1);
}

.blockOrder {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 25vh;
    width: 5%;
}

.blockOrderButtom svg{
    background: #1c1c1c;
    fill: #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 9px 10px;
    cursor: pointer;
}

.blockOrderButtomActive svg {
    background: #1c1c1c;
    fill: #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 9px 10px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.blockSource {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.blockSourceAll {
    display: flex;
    justify-content: center;
    background: #00bb2d;
    font-family: 'Bruno Ace SC', cursive;
    color: #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 10px 10px 5px 10px;
    margin-left: 20%;
    cursor: pointer;
}

.blockSourceOrigin {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.database svg{
    background: #00bb2d;
    fill: #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 10px;
    cursor: pointer;
}

.api svg{
    background: #00bb2d;
    fill: #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 10px;
    cursor: pointer;
}

.blockSourceActive {
    border: 2px solid #FFFFFF;
}

.blockSourceActiveSvg svg {
    background: #00bb2d;
    fill: #FFFFFF;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 9px 10px;
    cursor: pointer;
    border: 2px solid #FFFFFF;
}


